{% load static %}
<!DOCTYPE html>
<html>
<title>Contact Form</title>
  <head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family='Tangerine':300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> 
    <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/form.css' %}" rel="stylesheet">
    
  </head>
  <!-- .nav-menu -->

    
  </header>
  <body style="display: grid; justify-content: center;">
    
    
    
    <form action="{% url 'contact' %}" class="decor" method="post">
    	{% csrf_token %}

     
     
      <div class="form-inner">
        <h1 style="margin:15px;">Contact Us</h1>
        <input type="text" placeholder="Customer's Name" name="message-name">
        <input type="email" placeholder="Customer's Email" name="message-email">
        <textarea type="text" style="font-family:roboto, arial; font-size:14px;" placeholder="Message" rows="8" name="message"></textarea>
        <button type="submit" href="/">Submit</button>
        
   		</form>
      <h1 style=" font-family:roboto"><a style=" margin:-2rem;color: #c67777;text-decoration: none; font-size: 16.5px;"href="{% url 'index' %}">Back to home</a></h1>
       </div>
      
      
    </div>
	 
    
     
  </body>