{% load static %}
<!DOCTYPE html>
<html>
<title>Order Form</title>
  <head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- Template Main CSS File -->
  <link href="{% static 'assets/css/form.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> 
  </head>
  <!-- .nav-menu -->

    </div>
  </header>
  <body style="display: grid; justify-content: center;">

    <form action="{% url 'order' %}" class="decor" method="post">
      {% csrf_token %}
      <div class="form-inner">
        <h1 style="margin:15px;">Order Form</h1>
        <input type="text" placeholder="Customer's Name" name="message-name">
        <input type="email" placeholder="Customer's Email" name="message-email">
        <input type="tel" placeholder="Phone Number" name="message-phone">
        
        <h3 style="color: #5C5C5C;">Event Date</h3>
        <input type="date" placeholder="Date" name="message-date">
        <h3 style="color: #5C5C5C;">Event Time</h3>
        <input type="time" placeholder="Time" name="message-time">
        <input type="text" placeholder="# of Guests" name="message-guests">
        <input type="text" placeholder="Delivery Address" name="message-address">
        <h3 style="color: #5C5C5C;">Description </h3>
        

        
        <textarea placeholder="Message" style="font-family:roboto, arial; font-size:14px;" rows="8" name="message"></textarea>
        <h3 style= text-align:center;>(Please send all sample images to 614-949-7108)</h3>
        <button type="submit" href="/">Submit</button>
        
        
      </form>
      <h1 style=" font-family:roboto"><a  style="margin:-20px; color: #c67777; text-decoration: none;; font-size: 16.5px;"href="{% url 'index' %}">Back to home</a></h1>
    
    
     
    
  </body>